<!doctype html>
<html lang="en">

<head>{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Datatable -->
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="{% static 'Cvision/style.css' %}" rel="stylesheet">
</head>

 {% if user.is_authenticated %}

<body>{% load static %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'Cvision/logo.png' %}" width="120" height="50" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>


        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'work' %}">Рабочая область</a>
                    </li>
                    {%if user.is_staff%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cabinet_adm' %}">Кабинет администратора</a>
                    </li>
                    {%endif%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'history' %}">История поисков</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <p class="align-middle">Вы вошли как {{user.first_name}} {{user.last_name}}<br><a class="link text-md-right"data-toggle="modal" data-target="#ModalExit">Выйти</a></p>

                </form>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">© 2021 Copyright: ВГТРК</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    {% block scripts %}{% endblock %}





<div class="modal fade" id="ModalExit" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Подтверждение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите выйти"?

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <a class="btn btn-danger" href="{% url 'logout' %}">Выйти</a>

            </div>

        </div>
    </div>
</div>







</body>
{% else %}
    <div class="container">
        <br>
    <h1 class="text-center align-middle">Доступ запрещен!</h1>
    <p class="text-center">Пожалуйста авторизуйтесь</p>
        <div class="text-center">
            <br>
    <a href="{% url 'login' %}" class="btn btn-primary btn-md">Перейти на страницу авторизации</a>
            </div>
    </div>
{% endif %}
</html>